/* Common */
* {
	box-sizing: border-box;
	text-size-adjust: 100%;
}

*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	padding: 18px 0;
	margin: 0 0 2em;
	font-size: 40px;
	color: #fff;
	text-align: center;
	background: #0073aa;
}

h2 {
	margin: 1em 0 0.5em;
	font-size: 30px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #21759b;
}

@media (hover: hover) {

	a:hover {
		text-decoration: none;
	}
}

code {
	padding: 0.4em 0.65em;
	font-family: Monaco, Consolas, "Courier New", monospace;
	font-size: 0.8em;
	background: #f1f1f1;
	border-radius: 3px;
}

code.block {
	display: block;
	padding: 1em;
	margin: 0 0 1em;
}

hr {
	height: 1px;
	margin: 60px 0;
	background-color: #999;
	border: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #444;
	word-break: break-word;
}

@media screen and (max-width: 768px) {

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 18px;
	}
}

/* Layout */
.container {
	max-width: 1140px;
	padding: 0 10px 100px;
	margin: 0 auto;
}

.github {
	text-align: right;
}

/* Component(Search) */
.search {
	max-width: 400px;
	margin: 80px auto;
}

.search	input {
	padding: 15px 0;
}

@media screen and (max-width: 768px) {

	.search {
		margin: 30px auto;
	}
}

/* Component(IconList) */
.iconlist ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	font-size: 12px;
	color: #666;
	text-align: center;
	list-style: none;
}

.iconlist li {
	position: relative;
	width: 160px;
	margin-bottom: 20px;
	border-radius: 3px;
}

.iconlist button {
	display: block;
	width: 100%;
	padding: 0;
	padding: 10px 0;
	color: inherit;
	cursor: pointer;
	background: none;
	border: none;
}

.iconlist svg {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto 10px;
	fill: #444;
}

.iconlist path {
	fill: #444;
}

.iconlist p {
	padding: 5em 0;
	font-size: 20px;
	text-align: center;
}

@media (hover: hover) {

	.iconlist button:hover {
		background: #fbe4e0;
	}
}

@media screen and (max-width: 768px) {

	.iconlist ul {
		font-size: 10px;
	}

	.iconlist li {
		width: 33.3%;
	}
}

/* Component(Tooltip) */
.MuiTooltip-popper .MuiTooltip-tooltip {
	font-size: 12px;
}
