* {
	box-sizing: border-box;
	text-size-adjust: 100%;
}

*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	margin: 0 0 3em;
	padding: 18px 0;
	color: #fff;
	font-size: 40px;
	text-align: center;
	background: #0073aa;
}

h2 {
	margin: 1em 0 0.5em;
	font-size: 30px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #21759b;
}

code {
	padding: 0.4em 0.65em;
	font-size: 0.8em;
	font-family: Monaco, Consolas, "Courier New", monospace;
	background: #f1f1f1;
	border-radius: 3px;
}

code.block {
	display: block;
	margin: 0 0 1em;
	padding: 1em;
}

body {
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 16px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	word-break: break-word;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px 100px;
}

.github {
	text-align: right;
}

.iconlist {
	display: flex;
	flex-wrap: wrap;
	margin: 100px 0 0;
	padding: 0;
	color: #999;
	font-size: 12px;
	text-align: center;
	list-style: none;
}

.iconlist li {
	width: 140px;
	margin-bottom: 20px;
	cursor: pointer;
}

.iconlist svg {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto 10px;
	transition: fill 0.1s ease-in;
}

.iconlist li:hover svg {
	fill: #d54e21;
}

.MuiTooltip-popper .MuiTooltip-tooltip {
	font-size: 12px;
}

@media screen and (max-width: 768px) {

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 18px;
	}

	.iconlist {
		font-size: 10px;
	}

	.iconlist li {
		width: 33.3%;
	}
}
